**Panda Series**

Numeric Index

In [1]:
import numpy as np
import pandas as pd
from faker import Faker

In [2]:
SEED = 42

In [3]:
data = np.random.randint(0, 100, 5)

In [4]:
series_with_numeric_index = pd.Series(data)
series_with_numeric_index

0    18
1    29
2    60
3     4
4    48
dtype: int64

Labelled Index

In [5]:
faker_name = Faker()
index_name = [faker_name.name() for i in range(5)]
index_name

['Ray Jacobs',
 'Kathryn Henderson',
 'Melissa Esparza',
 'Jason Turner',
 'Donald Walsh']

In [6]:
series_with_labelled_index = pd.Series(data, index_name)
series_with_labelled_index

Ray Jacobs           18
Kathryn Henderson    29
Melissa Esparza      60
Jason Turner          4
Donald Walsh         48
dtype: int64

In [7]:
labeled_dict = series_with_labelled_index.to_dict()  # преобразование в словарь
labeled_dict

{'Ray Jacobs': 18,
 'Kathryn Henderson': 29,
 'Melissa Esparza': 60,
 'Jason Turner': 4,
 'Donald Walsh': 48}

In [8]:
series_with_labelled_index = pd.Series(labeled_dict)
series_with_labelled_index

Ray Jacobs           18
Kathryn Henderson    29
Melissa Esparza      60
Jason Turner          4
Donald Walsh         48
dtype: int64

### Fill Missing Data / Заполнение отсутствующих данных ###

In [9]:
before = {
        'Aliqua'           : 1642,
        'Ad ut Nulla'      : 1776,
        'Nisi est Pastrami': 1867,
        'Jowl Magna'       : 1821,
        'Anim Bacon Doner' : 1909
        }

In [10]:
after = {
        'Voluptate Boudin' : 1643,
        'Ad ut Nulla'      : 1777,
        'Nisi est Pastrami': 1868,
        'Jowl Magna'       : 1822,
        'Anim Bacon Doner' : 1910
        }

In [11]:
before_series = pd.Series(before)
after_series = pd.Series(after)

In [12]:
all_jowl_magna = before_series['Jowl Magna'] + after_series['Jowl Magna']
print(all_jowl_magna)

3643

In [13]:
before_series + after_series

Ad ut Nulla          3553.0
Aliqua                  NaN
Anim Bacon Doner     3819.0
Jowl Magna           3643.0
Nisi est Pastrami    3735.0
Voluptate Boudin        NaN
dtype: float64

In [14]:
# Заполнение отсутствующих данных нулями - fill_value=0
before_series.add(after_series, fill_value=0)

Ad ut Nulla          3553.0
Aliqua               1642.0
Anim Bacon Doner     3819.0
Jowl Magna           3643.0
Nisi est Pastrami    3735.0
Voluptate Boudin     1643.0
dtype: float64

## Panda Dataframes ##

### Создание DataFrame из массива Numpy ###

In [15]:
np.random.seed(SEED)

random_data_array = np.random.randint(0, 103, (4, 3))  # 4 строки, 3 столбца
random_data_array

array([[102,  51,  92],
       [ 14,  71,  60],
       [ 20, 102,  82],
       [ 86,  74,  74]])

In [16]:
dataframe = pd.DataFrame(random_data_array)
dataframe

     0    1   2
0  102   51  92
1   14   71  60
2   20  102  82
3   86   74  74

In [17]:
# get column labels
dataframe.columns

RangeIndex(start=0, stop=3, step=1)

In [18]:
# get index labels
dataframe.index

RangeIndex(start=0, stop=4, step=1)

In [19]:
# get data types
dataframe.dtypes

0    int64
1    int64
2    int64
dtype: object

In [20]:
# get number of rows
len(dataframe)

4

In [21]:
data_index = ['Ad ut Nulla', 'Nisi est Pastrami', 'Jowl Magna', 'Anim Bacon Doner']
data_columns = ['Q1', 'Q2', 'Q3']

In [22]:
dataframe_with_labels = pd.DataFrame(random_data_array, index=data_index, columns=data_columns)
dataframe_with_labels

                    Q1   Q2  Q3
Ad ut Nulla        102   51  92
Nisi est Pastrami   14   71  60
Jowl Magna          20  102  82
Anim Bacon Doner    86   74  74

In [23]:
dataframe_with_labels.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, Ad ut Nulla to Anim Bacon Doner
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Q1      4 non-null      int64
 1   Q2      4 non-null      int64
 2   Q3      4 non-null      int64
dtypes: int64(3)
memory usage: 128.0+ bytes